In [45]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import datetime

In [46]:
data = pd.read_excel('와디즈_뉴스개수.xlsx')

In [52]:
all_date = pd.date_range(start = '2018-01-01',end = '2019-08-14')
all_date_df = pd.DataFrame(all_date)
all_date_df.columns = ['날짜']
all_date_new_df = pd.merge(all_date_df, data, how='outer')

In [57]:
all_date_new_df['기사제목'] = all_date_new_df['기사제목'].fillna(0)

In [58]:
all_date_new_df

            날짜  키워드  기사제목
0   2018-01-01  와디즈   1.0
1   2018-01-02  NaN   3.0
2   2018-01-03  NaN   7.0
3   2018-01-04  NaN   3.0
4   2018-01-05  NaN   5.0
5   2018-01-06  NaN   2.0
6   2018-01-07  NaN   2.0
7   2018-01-08  NaN   7.0
8   2018-01-09  NaN   2.0
9   2018-01-10  NaN  15.0
10  2018-01-11  NaN   8.0
11  2018-01-12  NaN   1.0
12  2018-01-13  NaN   1.0
13  2018-01-14  NaN   0.0
14  2018-01-15  NaN   6.0
15  2018-01-16  NaN   3.0
16  2018-01-17  NaN   1.0
17  2018-01-18  NaN   1.0
18  2018-01-19  NaN   1.0
19  2018-01-20  NaN   0.0
20  2018-01-21  NaN   0.0
21  2018-01-22  NaN   5.0
22  2018-01-23  NaN   2.0
23  2018-01-24  NaN   7.0
24  2018-01-25  NaN   5.0
25  2018-01-26  NaN   4.0
26  2018-01-27  NaN   0.0
27  2018-01-28  NaN   0.0
28  2018-01-29  NaN  10.0
29  2018-01-30  NaN  17.0
..         ...  ...   ...
561 2019-07-16  NaN   8.0
562 2019-07-17  NaN  26.0
563 2019-07-18  NaN  11.0
564 2019-07-19  NaN   6.0
565 2019-07-20  NaN   3.0
566 2019-07-21  NaN   4.0
567 2019-07-22  NaN  19.0
568 2019-07-23  NaN  28.0
569 2019-07-24  NaN  10.0
570 2019-07-25  NaN  11.0
571 2019-07-26  NaN  12.0
572 2019-07-27  NaN   2.0
573 2019-07-28  NaN   5.0
574 2019-07-29  NaN  16.0
575 2019-07-30  NaN  49.0
576 2019-07-31  NaN  27.0
577 2019-08-01  NaN  62.0
578 2019-08-02  NaN  14.0
579 2019-08-03  NaN   3.0
580 2019-08-04  NaN   2.0
581 2019-08-05  NaN  11.0
582 2019-08-06  NaN   9.0
583 2019-08-07  NaN   5.0
584 2019-08-08  NaN  30.0
585 2019-08-09  NaN  12.0
586 2019-08-10  NaN   1.0
587 2019-08-11  NaN   1.0
588 2019-08-12  NaN  15.0
589 2019-08-13  NaN  21.0
590 2019-08-14  NaN   9.0

[591 rows x 3 columns]

In [62]:
new_date = all_date_new_df['날짜']
new_sum = all_date_new_df['기사제목']

In [64]:
new_ls = []
for dt in range(0, len(new_date)):
    sum = new_sum[dt]
    n = 7 if len(new_date)-dt > 7 else len(new_date) - dt
    for _ in range(dt+1, dt+n):
        result = new_date[_] - new_date[dt]
        if(result.days <= 6):
            sum = sum+new_sum[_]
    new_ls.append(sum)
all_date_new_df['일주일개수'] = new_ls

In [65]:
all_date_new_df

            날짜  키워드  기사제목  일주일개수
0   2018-01-01  와디즈   1.0   23.0
1   2018-01-02  NaN   3.0   29.0
2   2018-01-03  NaN   7.0   28.0
3   2018-01-04  NaN   3.0   36.0
4   2018-01-05  NaN   5.0   41.0
5   2018-01-06  NaN   2.0   37.0
6   2018-01-07  NaN   2.0   36.0
7   2018-01-08  NaN   7.0   34.0
8   2018-01-09  NaN   2.0   33.0
9   2018-01-10  NaN  15.0   34.0
10  2018-01-11  NaN   8.0   20.0
11  2018-01-12  NaN   1.0   13.0
12  2018-01-13  NaN   1.0   13.0
13  2018-01-14  NaN   0.0   12.0
14  2018-01-15  NaN   6.0   12.0
15  2018-01-16  NaN   3.0   11.0
16  2018-01-17  NaN   1.0   10.0
17  2018-01-18  NaN   1.0   16.0
18  2018-01-19  NaN   1.0   20.0
19  2018-01-20  NaN   0.0   23.0
20  2018-01-21  NaN   0.0   23.0
21  2018-01-22  NaN   5.0   23.0
22  2018-01-23  NaN   2.0   28.0
23  2018-01-24  NaN   7.0   43.0
24  2018-01-25  NaN   5.0   49.0
25  2018-01-26  NaN   4.0   51.0
26  2018-01-27  NaN   0.0   49.0
27  2018-01-28  NaN   0.0   49.0
28  2018-01-29  NaN  10.0   49.0
29  2018-01-30  NaN  17.0   51.0
..         ...  ...   ...    ...
561 2019-07-16  NaN   8.0   77.0
562 2019-07-17  NaN  26.0   97.0
563 2019-07-18  NaN  11.0   81.0
564 2019-07-19  NaN   6.0   81.0
565 2019-07-20  NaN   3.0   87.0
566 2019-07-21  NaN   4.0   86.0
567 2019-07-22  NaN  19.0   87.0
568 2019-07-23  NaN  28.0   84.0
569 2019-07-24  NaN  10.0  105.0
570 2019-07-25  NaN  11.0  122.0
571 2019-07-26  NaN  12.0  173.0
572 2019-07-27  NaN   2.0  175.0
573 2019-07-28  NaN   5.0  176.0
574 2019-07-29  NaN  16.0  173.0
575 2019-07-30  NaN  49.0  168.0
576 2019-07-31  NaN  27.0  128.0
577 2019-08-01  NaN  62.0  106.0
578 2019-08-02  NaN  14.0   74.0
579 2019-08-03  NaN   3.0   72.0
580 2019-08-04  NaN   2.0   70.0
581 2019-08-05  NaN  11.0   69.0
582 2019-08-06  NaN   9.0   73.0
583 2019-08-07  NaN   5.0   85.0
584 2019-08-08  NaN  30.0   89.0
585 2019-08-09  NaN  12.0   59.0
586 2019-08-10  NaN   1.0   47.0
587 2019-08-11  NaN   1.0   46.0
588 2019-08-12  NaN  15.0   45.0
589 2019-08-13  NaN  21.0   30.0
590 2019-08-14  NaN   9.0    9.0

[591 rows x 4 columns]